body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  top: 50%;
  left: 50%;
}
.portalWindow {
  height: 60vh;
  width: 40vw;
  top: 50%;
  left: 50%;
  border: 2px solid black;
}
.label {
  text-align: center;
}
.column {
  display: flex-column;
}
.UIDdisplay {
  margin-bottom: 1.5rem;
  text-align: center;
}
.inputColumns {
  display: flex;
  justify-content: center;
  align-items: center;
}
.textF {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  margin-left: auto;
  margin-right: 2.5rem;
}
.inputCon {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2 rem;
  margin: 0.5rem;
}
.loginBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.enterUID {
  position: fixed; /* or fixed, depending on your layout needs */
  margin-right: auto;
  margin-left: auto;
  width: 30vw;
  height: 70vh;
  background-color: antiquewhite;
  border: 2px solid black;
  z-index: 1000; /* Higher z-index value to appear above the container */
  display: none;
  flex-direction: column; /* Make sure children are stacked vertically */
  justify-content: space-between; /* Space out children vertically */
  align-items: center; /* Center align items horizontally */
  padding: 1rem; /* Add some padding for better layout */
}
.enterUID h2 {
  text-align: center;
}
.txt {
  font-size: 1rem;
  padding: 0.5rem;
}
#confirmBtn {
  margin-left: auto;
  margin-right: auto;
  font-size: 1rem;
}
